body 
{
    background-color: beige;
}
#dh1
{
    height: 26rem;
    line-height: 35rem;
    text-align: center;
    color: white;
    background-image: url(./Images/oT3DY.png);
    background-repeat: no-repeat;
    background-position: center;
}
h1
{
    padding-top: 1rem;
}
#newCar
{
    text-align: center;
}
form
{
    display: none;
}
img
{   
    height: 20rem; 
    width: auto;
}

@keyframes drive 
{
    from 
    {   transform: scale(0.2);  }
    to 
    {   transform: scale(1);  }
  }
  .car 
  {
    animation: drive 5s cubic-bezier(0.02, 0.01, 0.21, 1) infinite;
  }